<!DOCTYPE html>
<html>
  <head>
    <title>Micro Twitter Clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,max-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div id="notice" class="notification is-primary global-notification notice">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div id="alert" class="notification is-danger global-notification alert">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <!-- To add tags inside a `link_to` tag we have to apply a `do...end` block -->
        <%= link_to root_path, class: 'navbar-item' do %>
          <h1 class="title is-5 has-text-white">Twittter</h1>
        <% end %>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to 'New Tweeet', new_tweeet_path, class: 'button is-info is-inverted' %>
              </p>
              <p class="control">Sign Up</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
